[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do 2.4. Popyt, podaż i równowaga rynkowa | Przedsiębiorczość w praktyce
Type=Link
URL=https://zasobyip2.ore.edu.pl/uploads/publications/44e33f66b612afab5cfe9bbd9acaad54_/2-funkcjonowanie-gospodarki-rynkowej/2-4-popyt-podaz-i-rownowaga-rynkowa/index.html
Icon=text-html
