[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Efekt snoba – Wikipedia, wolna encyklopedia
Type=Link
URL=https://pl.wikipedia.org/wiki/Efekt_snoba
Icon=text-html
