[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do 3.3: Marginal Revenue and the Elasticity of Demand - Social Sci LibreTexts
Type=Link
URL=https://socialsci.libretexts.org/Bookshelves/Economics/Book%3A_The_Economics_of_Food_and_Agricultural_Markets_(Barkley)/03%3A_Monopoly_and_Market_Power/3.03%3A_Marginal_Revenue_and_the_Elasticity_of_Demand
Icon=text-html
