[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Cenowa elastyczność popytu – Wikipedia, wolna encyklopedia
Type=Link
URL=https://pl.wikipedia.org/wiki/Cenowa_elastyczno%C5%9B%C4%87_popytu
Icon=text-html
