[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Marginal revenue - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Marginal_revenue
Icon=text-html
