[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Przychód krańcowy – Wikipedia, wolna encyklopedia
Type=Link
URL=https://pl.wikipedia.org/wiki/Przych%C3%B3d_kra%C5%84cowy
Icon=text-html
