[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Sequences and difference equations
Type=Link
URL=http://hplgit.github.io/primer.html/doc/pub/diffeq/._diffeq-readable001.html
Icon=text-html
