[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Solve Differential Equations with ODEINT
Type=Link
URL=https://apmonitor.com/pdc/index.php/Main/SolveDifferentialEquations
Icon=text-html
