[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Lorenz system - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Lorenz_system#Derivation_of_the_Lorenz_equations_as_a_model_for_atmospheric_convection
Icon=text-html
